@page
@model Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal.LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">Owh, Jij kan niet meer inloggen...</h2>
    <h6>
        Waarschijnlijk heb jij dit jaar al een verlanglijstje opgestuurd naar de Kerstman. Als je dat
        nog niet gedaan hebt, moet je een nieuw account vragen bij de Kerstman.
    </h6>
</header>