@{
    ViewData["Title"] = "Welkom!";

}


<div class="text-center">
    <h1 class="display-4">Welkom bij de SantaWishlist Applicatie</h1>
    <p>De Kerstman is sinds dit jaar helemaal gedigitaliseerd. Login en geef je verlanglijstje door!</p>
</div>